absl-py
aioice
aiortc
altair
attrs
av
bcrypt
blinker
cachetools
captcha
certifi
cffi
charset-normalizer
click
colorama
comtypes
contourpy
cryptography
cycler
dnspython
extra-streamlit-components
flatbuffers
fonttools
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-crc32c
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
httplib2
idna
ifaddr
jax
jaxlib
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
mediapipe
numpy
opencv-contrib-python
opencv-python
opt-einsum
packaging
pandas
pillow
pip
proto-plus
protobuf
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydeck
pyee
Pygments
PyJWT
pylibsrtp
pymongo
pyOpenSSL
pyparsing
pypiwin32
python-dateutil
python-dotenv
pyttsx3
pytz
pywin32
PyYAML
referencing
requests
rich
rpds-py
rsa
scikit-learn
scipy
sentencepiece
setuptools
six
smmap
sounddevice
streamlit
streamlit-authenticator
streamlit-webrtc
tenacity
threadpoolctl
toml
tornado
tqdm
typing_extensions
tzdata
uritemplate
urllib3
watchdog
