bcrypt
google-generativeai
streamlit
streamlit-webrtc
streamlit-authenticator
mediapipe
opencv-python
opencv-contrib-python
opencv-python-headless
av
numpy
pandas
scikit-learn
matplotlib
pymongo
pymongo[srv]
python-dotenv
requests
pyttsx3
